
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LoginView</h2>

<form action="" method="post">
    <input type="text" name="phone_name" id="phone_name" />
    <input type="text" name="password" id="password"/>
    <input type="submit" value="login" />
</form>