
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .admin-content, .admin-sidebar {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
    .admin-content-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
    .page-404 {
    background: #fff;
    border: none;
    width: 200px;
    margin: 0 auto;
}
</style>

<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-g">
            <div class="am-u-sm-12">
                <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
                <p class="am-text-center">没有找到你要的页面</p>
                <pre class="page-404">          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' o          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
            </div>
        </div>
    </div>
</div>
<hr />
<br />
<br />
<br />
<br />


